// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$theme-colors:(
    'primary':rgb(7, 104, 159),
    "secondary":#C9D6DF,
    "success":#11D3BC,
    "danger":#F67280,
    "info":#A2D5F2,
    "warning":#FF7E67,
    "light":#FAFAFA,
    "dark":#4e4e4e,
    "gray":#90A4AE,
    'teal': #4dc0b5
);

